@{
    ViewBag.Title = "Footer";
}
<style>
    #tna-footer {
        background-color:#352750;
    }
    #tna-footer {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 20px 80px;
    }
    #tna-footer h4{
        color:white;
    }
    #tna-footer p{
        color:#777;
    }
</style>
<div id="tna-footer">
    <div>
        <h4>Về chúng tôi</h4>
        <p>TNA Watch</p>
    </div>
    <div>
        <h4>Chính sách sau bán hàng</h4>
        <p>Chính sách bảo hành</p>
        <p>Chính sách bảo dưỡng miễn phí 5 năm</p>
        <p>Chính sách thay pin miễn phí trọn đời</p>
    </div>
    <div>
        <h4>Hướng dẫn & tư vấn</h4>
        <p>Hướng dẫn mua hàng</p>
        <p>Hướng dẫn bảo hành</p>
    </div>
    <div>
        <h4>Liên hệ</h4>
        <a href="https://facebook.com/lqtuantk19"><p>Facebook</p></a>
        <a href="#"><p>Google+</p></a>
        <a href="#"><p>Twitter</p></a>
        <a href="#"><p>Youtube</p></a>
        <a href="#"><p>01644787564</p></a>
    </div>
</div>

