#main-header input {
    height: 40px;
    display: inline;
}

.grid {
    display: grid;
    grid-gap: 10px;
}

#main-header {
    padding: 20px 60px;
    min-height: 90px;
    background: #56257d url("Header/Images/background-head.png");
}

    #main-header div img {
        display: inline-block;
        vertical-align: middle;
    }

        #main-header div img:hover {
            transform: scale(1.2,1.2);
        }

@media(min-width: 768px) {
    #main-header {
        grid-template-columns: auto auto;
    }

    #grid-item1 {
        grid-row: 1;
        grid-column: 1;
        text-align: center;
    }

    #grid-item2 {
        grid-row: 2;
        grid-column: 1 / span 2;
        position: relative;
        text-align: center;
    }

    #grid-item3 {
        grid-row: 3;
        grid-column: 1;
        line-height: 40px;
        text-align: center;
    }

    #grid-item4 {
        grid-row: 3;
        grid-column: 2;
        line-height: 40px;
        text-align: center;
    }

    #grid-item5 {
        grid-row: 4;
        line-height: 40px;
        grid-column: 1;
        text-align: center;
    }

    #grid-item6 {
        grid-row: 4;
        line-height: 40px;
        grid-column: 2;
        text-align: center;
    }

    #grid-item7 {
        grid-row: 5;
        line-height: 40px;
        grid-column: 1;
        text-align: center;
    }

    #grid-item8 {
        grid-row: 5;
        line-height: 40px;
        grid-column: 2;
        text-align: center;
    }
}

@media(min-width: 1024px) {
    #main-header {
        grid-template-columns: auto auto auto auto auto;
    }

    #grid-item1 {
        grid-row: 1 / span 2;
        grid-column: 1;
        text-align: center;
    }

    #grid-item2 {
        grid-row: 1;
        grid-column: 2 / span 2;
        position: relative;
        text-align: center;
    }

    #grid-item3 {
        grid-row: 1;
        grid-column: 4;
        line-height: 40px;
        text-align: center;
    }

    #grid-item4 {
        grid-row: 1;
        line-height: 40px;
        grid-column: 5;
        text-align: center;
    }

    #grid-item5 {
        grid-row: 2;
        line-height: 40px;
        grid-column: 2;
        text-align: center;
    }

    #grid-item6 {
        grid-row: 2;
        line-height: 40px;
        grid-column: 3;
        text-align: center;
    }

    #grid-item7 {
        grid-row: 2;
        line-height: 40px;
        grid-column: 4;
        text-align: center;
    }

    #grid-item8 {
        grid-row: 2;
        line-height: 40px;
        grid-column: 5;
        text-align: center;
    }
}

.search-button {
    background: url("Header/Images/search.png") no-repeat 10px center scroll;
    border: medium none;
    width: 42px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.search-box {
    width: 100%;
    padding: 5px 30px 5px 10px;
    border-radius: 15px;
    border: none;
}

.sub-menu2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

    .sub-menu2 ul {
        display: block;
    }

    .sub-menu2 .nav-item1 {
        grid-row: 1;
        grid-column: 1;
    }

    .sub-menu2 .nav-item2 {
        grid-row: 1;
        grid-column: 2;
    }

    .sub-menu2 .nav-item3 {
        grid-row: 1;
        grid-column: 3;
    }

    .sub-menu2 .nav-item4 {
        grid-row: 1;
        grid-column: 4;
    }

    .sub-menu2 ul, li, a {
        padding: 0px;
        margin: 0px;
    }
@media(min-width: 768px) {
    #filter {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px 20px;
    }
}
@media(min-width: 1024px) {
    #filter {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px 20px;
    }
}